In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.preprocessing import OneHotEncoder
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [146]:
df=pd.read_csv(r"H:\ML\songsDataset.csv")
df

         'userID'  'songID'  'rating'
0               0      7171         5
1               0      8637         4
2               0     21966         4
3               0     35821         5
4               0     82446         5
...           ...       ...       ...
1999995    199999     75840         2
1999996    199999     85921         1
1999997    199999    116763         1
1999998    199999    128758         1
1999999    199999    129321         1

[2000000 rows x 3 columns]

In [147]:
df.head(100)

    'userID'  'songID'  'rating'
0          0      7171         5
1          0      8637         4
2          0     21966         4
3          0     35821         5
4          0     82446         5
..       ...       ...       ...
95         9    105156         3
96         9    113452         3
97         9    119398         2
98         9    130766         3
99         9    133420         3

[100 rows x 3 columns]

In [148]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   'userID'  int64
 1   'songID'  int64
 2   'rating'  int64
dtypes: int64(3)
memory usage: 45.8 MB

In [149]:
df.describe()

           'userID'      'songID'      'rating'
count  2.000000e+06  2.000000e+06  2.000000e+06
mean   9.999950e+04  6.798931e+04  3.459467e+00
std    5.773504e+04  3.940455e+04  1.553719e+00
min    0.000000e+00  0.000000e+00  1.000000e+00
25%    4.999975e+04  3.424900e+04  2.000000e+00
50%    9.999950e+04  6.779300e+04  4.000000e+00
75%    1.499992e+05  1.019480e+05  5.000000e+00
max    1.999990e+05  1.367350e+05  5.000000e+00

In [24]:
df.isnull().sum()

'userID'    0
'songID'    0
'rating'    0
dtype: int64

In [150]:
df.head()

   'userID'  'songID'  'rating'
0         0      7171         5
1         0      8637         4
2         0     21966         4
3         0     35821         5
4         0     82446         5

In [253]:
df.columns = df.columns.str.replace('"', '').str.replace("'", '')

In [254]:
Our_user_songs_All = df[(df['userID'] == 0) & (df['rating'] >= 4)]

In [255]:
Our_user_songs_List = Our_user_songs_All['songID'].tolist()

In [262]:
filtered_df = df[(df['rating'] >= 4) & (df['userID'] != 0)]
filtered_df

         userID  songID  rating
10            1    3342       5
13            1   38997       5
15            1   45488       4
19            1  130621       5
22            2   61247       4
...         ...     ...     ...
1999987  199998  117290       5
1999988  199998  117360       5
1999990  199999   21651       5
1999992  199999   45954       5
1999994  199999   68445       5

[1125098 rows x 3 columns]

In [264]:
similar_users = filtered_df[filtered_df['songID'].isin(Our_user_songs_List)]

In [271]:
similar_users_list = similar_users['userID'].tolist()

In [276]:
Other_songs_to_recommend = filtered_df[filtered_df['userID'].isin(similar_users_list) & filtered_df[filtered_df['songID'].isin(Our_user_songs_List)]
Other_songs_to_recommend

SyntaxError: '[' was never closed (1146581681.py, line 1)

In [274]:
song_occurrences = Other_songs_to_recommend['songID'].value_counts()
song_occurrences.sort_values(ascending=False)

90409     706
7171       48
107410     26
56660      26
43827      26
         ...
131005      1
49506       1
97556       1
33957       1
128136      1
Name: songID, Length: 3161, dtype: int64

In [275]:
Our_user_songs_List

[7171, 8637, 21966, 35821, 82446, 90409, 107410, 131919]